<%- layout("/layouts/boilderplate") -%>
    <div class="row">
        <div class="col-8 offset-2" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <img style="width: 50%; height: 80%; object-fit: cover;" src="https://img.freepik.com/free-vector/hand-drawn-no-data-illustration_23-2150696458.jpg" alt="">

            <h2 style="margin-top: 1rem; font-weight: 700;">Status: <%= status %></h2>
            <p><%= message %></p>
        </div>
    </div>
